[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/OpenSubdiv"]
	path = vendor/OpenSubdiv
	url = https://github.com/PixarAnimationStudios/OpenSubdiv
